node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


ios/Pods/
ios/build/
ios/DerivedData/
ios/xcuserdata/
ios/**/*.xcuserstate
ios/**/xcuserdata/
ios/.xcode.env.local
android/
.env

.turbo

temp/
app-build
app-build.ipa
eas.json