name: TypeScript Check, Tests and Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  typecheck-and-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Run TypeScript compilation check
        run: pnpm typecheck

      - name: Run linting
        run: pnpm lint

      - name: Run knip
        run: pnpm knip
